! ------------------------------------------------------------------------------
! Colour Configuration
! ------------------------------------------------------------------------------
#include ".Xresources.d/colorscheme.i3-starterpack"
! ---------------------------------------------------------
! URxvt configs
! ---------------------------------------------------------

!xterm*faceName: xft:mono:medium:size=10
URxvt*font: xft:mono:medium:size=10
URxvt*boldFont: xft:mono:bold:size=10
URxvt*italicFont: xft:mono:italic:size=10
URxvt*boldItalicFont: xft:mono:bold italic:size=8

URxvt*letterSpace:		0
URxvt.lineSpace:		0

URxvt*saveline:			15000
URxvt*termName:			rxvt-256color
URxvt*iso14755:			false
URxvt*urgentOnBell:		true
URxvt.mouseWheelScrollPage: False 

! appearance
URxvt*depth:			5
URxvt*scrollBar:	     false	
URxvt*scrollBar_right: true	
URxvt*internalBorder:	5
URxvt*externalBorder:	0
URxvt.geometry:			84x22

! allow filepaths to select as one, otherwise delimit
URxvt.cutchars: "\"(),<>[]{}|'`"

URxvt.perl-ext-common: default,matcher,selection-to-clipboard,keyboard-select,tabbed,resize-font

! Extension: matcher
URxvt.url-launcher: sensible-browser 
!URxvt.keysym.C-Delete: matcher:last
URxvt.keysym.M-Delete: matcher:list
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]

! Extension: font-size
URxvt.keysym.C-equal: font-size:increase
URxvt.keysym.C-minus: font-size:decrease

! Extention: keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate

! Extention: tabbed color
!URxvt.tabbed.tab-fg: 12
!URxvt.tabbed.tab-bg: 0
!URxvt.tabbed.tabbar-fg:4

!URxvt.font:xft:Droid Sans Mono:size=9:style=Regular:antialias=true,xft:文泉驿等宽正黑:size=8:style=Regular:antialias=true
!URxvt.boldfont:xft:Droid Sans Mono:size=9:style=BOld:antialias=true,xft:文泉驿等宽正黑:size=8:style=Bold:antialias=true

! ------------------------------------------------------------------------------
! Rofi configs
! ------------------------------------------------------------------------------

rofi.color-enabled: true
rofi.color-window: #2e3440, #2e3440, #2e3440
rofi.color-normal: #2e3440, #d8dee9, #2e3440, #2e3440, #bf616a
rofi.color-active: #2e3440, #b48ead, #2e3440, #2e3440, #93e5cc
rofi.color-urgent: #2e3440, #ebcb8b, #2e3440, #2e3440, #ebcb8b
rofi.modi: run,drun,window

! ------------------------------------------------------------------------------
! Dmenu configs
! ------------------------------------------------------------------------------

dmenu.selforeground:	    #d8dee9
dmenu.background:	        #2e3440
dmenu.selbackground:	    #bf616a
dmenu.foreground:	        #d8dee9
                                        
